<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bilibili.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF6E259D1D27B7FD008473FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF6E25B91D27B7FD008473FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF6E25C41D27B7FD008473FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
